<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/output.css" />
  </head>
  <body class="bg-teal-100">
    <nav class="flex justify-between text-teal-500 bg-white">
      <span class="m-4 font-bold">Logo</span>
      <ul class="flex">
        <li class="my-4 mx-6"><a href="/">Home</a></li>
        <li class="my-4 mx-6"><a href="/courses">Course list</a></li>
        <li class="my-4 mx-6"><a href="/aboutUs">About</a></li>
      </ul>
    </nav>

    <section class="bg-white mx-16 my-16 h-screen rounded-lg">
      <h1
        class="text-3xl text-white block font-bold p-4 bg-teal-400 rounded-t-lg"
      >
        Dashboard
      </h1>
      <!-- Content  -->
      <div class="flex justify-around">
        <!-- Recent Contributions  -->
        <table
          class="bg-teal-100 opacity-50 border-2 border-separate border-teal-500 shadow-lg m-4 w-1/2 rounded-md p-8"
        >
          <!-- table heading  -->
          <tr class="text-left">
            <th>Name</th>
            <th>File</th>
            <th>Course</th>
            <th>Category</th>
          </tr>
          <!-- table entery -->
          <% for(let i = 0; i < contributions.length; i++){ %>
            <tr>
              <td><%= contributions[i].name %></td>
              <td><a href="<%= contributions[i].pdf %>"><%= contributions[i].filename %></a></td>
              <td><%= contributions[i].course %></td>
              <td><%= contributions[i].category %></td>
              <td>
                <img src="./icons/tickIcon.svg" alt="" />
              </td>

              <td>
                <img src="./icons/trashIcon.svg" alt="" />
              </td>
            </tr>
          <% } %>
        </table>
        <!-- Add new course  -->
        <div
          class="bg-teal-100 w-1/4 h-72 py-4 px-10 rounded-md flex flex-col justify-between drop-shadow-md"
        >
          <h2 class="text-slate-600 font-bold text-center text-lg mb-6">
            Add New Course
          </h2>
          <form action="/addCourse" method="post">
              <h3 class="text-slate-600 font-semibold">Course Title :</h3>
              <input class="py-1 px-2" type="text" name="courseTitle" id="" placeholder="Course title">
              <h3 class=" text-slate-600 font-semibold">Course Code :</h3>
              <input class="px-2 py-1"type="text" name="courseCode" id="" placeholder="Course Code">
              <button class="block mx-auto my-4 px-4 py-1 active:border-teal-600 active:drop-shadow-none drop-shadow-lg bg-white text-teal-500 border-2 border-teal-500">Submit</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
