<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/navAnimation.css" />

    <title>Mids-Finals</title>
  </head>
  <body>
    <div
      id="dimScreen"
      class="hidden fixed w-full h-full bg-slate-800 z-10 opacity-50"
    ></div>

    <nav
      class="flex justify-between text-teal-500 bg-white items-center border-b-2 border-teal-500"
    >
      <span class="mx-4 py-2 font-bold text-xl">
        <a href="/"> Strate<span class="text-slate-500">GIK</span> </a>
      </span>
      <img
        id="menuIcon"
        class="w-6 m-4 md:hidden z-30"
        src="/icons/menuIcon.svg"
        alt="hamburger-icon"
      />
      <ul
        data-ul
        class="md:flex-row md:top-auto md:w-auto bg-slate-50 pb-5 md:pb-px md:bg-white -top-96 text-center flex flex-col items-center w-full md:relative fixed z-20"
      >
      <% if(user[0] != undefined){ %>
        <li
        class="md:hidden cursor-default select-none li text-slate-500 font-bold ml-2"
        >
        <%= user[0].userName %>
      </li>
      <%}%>
      <li
        class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
      >
        <a href="/">Home</a>
      </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/courses">Course List</a>
        </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/contribute">Contribute</a>
        </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/aboutUs">About</a>
        </li>
        <% if(user[0] != undefined){ %>
        <li
          class="hidden cursor-default select-none md:inline-block li text-slate-500 font-bold ml-2"
        >
          <%= user[0].userName %>
        </li>
        <%}%>
        <div
          class="flex flex-col md:items-center w-full md:w-auto md:absolute md:overflow-hidden md:top-14 md:right-0 bg-white rounded-b-md nav-drop-down md:max-h-0 transition-[max-Height] duration-1000"
        >
          <% if(user[0] == undefined){ %>

          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/users/signIn">Sign In</a>
          </li>
          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/users/signUp">Sign Up</a>
          </li>
          <% } %> <% if(user[0] != undefined){ %>
          <!-- <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600">Hello <%= user[0].userName %></li> -->
          <% if(user[0].dashboardAccess === true){ %>
          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/xlzjoorD6C">Dashboard</a>
          </li>
          <% } %>
          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/signingOut">Sign Out</a>
          </li>
          <% } %>
        </div>
        <img
          class="w-7 mx-6 ml-2 md:block hidden hover:-translate-y-1 active:translate-y-1 transition-transform duration-700 profileIcon"
          src="/icons/profileIcon.svg"
          alt="profileIcon"
        />
      </ul>
    </nav>
    <!-- hero section  -->
    <div class="w-2/3 mx-auto my-20">
      <!-- main heading -->
      <h1 class="font-bold text-lg text-teal-600 md:text-2xl py-6">
        Mids/Finals
      </h1>
      <!-- data -->
      <% for(let i = 0; i < midsfinals.length; i++){ %>
      <div
        class="flex justify-between hover:translate-x-2 transition-transform duration-200"
      >
        <div>
          <a href="<%= midsfinals[i].fileLink %>" target="_blank">
            <img
              src="/icons/fileIcon.svg"
              alt="file-icon"
              class="inline-block w-8 sm:w-10 md:w-auto"
            />
            <h2 class="mx-4 inline-block text-sm sm:text-md">
              <%= midsfinals[i].fileName %>
            </h2>
          </a>
        </div>
      </div>
      <hr class="w-full h-[2px] bg-teal-500 my-2" />
      <% } %>
      <!-- data -->
      <div
        class="flex justify-between hover:translate-x-2 transition-transform duration-200"
      >
        <div>
          <img
            src="/icons/fileIcon.svg"
            alt="file-icon"
            class="inline-block w-8 sm:w-10 md:w-auto"
          />
          <h2 class="mx-4 inline-block text-sm sm:text-md">Placeholder</h2>
        </div>
      </div>
      <hr class="w-full h-[2px] bg-teal-400 my-2" />
    </div>
    <script src="/script.js"></script>
    <script>
      // Nav bar responsiveness script 
      let navDropDown=document.querySelector('.nav-drop-down')
      let profileIcon=document.querySelector('.profileIcon')
      profileIcon.addEventListener('click',()=>{
        const currHeight=getComputedStyle(navDropDown).maxHeight
        if(currHeight=='0px')
        navDropDown.style.maxHeight= '200px';
        else if(currHeight=='200px')
        navDropDown.style.maxHeight= '0px';
      })
      </script>
  </body>
</html>
